#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddf2f5;
  border: 10px solid #7fd8e6;
  border-radius: 15px;
  margin-top: 5%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.head {
  font-size: 22px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.head-display {
background-color: #17a2b8;
width: 70px;
height: 40px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-size: 28px;
font-weight: bolder;
}
.head img {
  width: 30px;
}
.counters-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.refresh-btn {
  background-color: #28a745;
}
.restore-btn {
  background-color: #4da5fc;
}
.restore-btn img,
.refresh-btn img {
  width: 22px;
}
.reset-btn-container {
  display: flex;
  column-gap: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.highlight {
  background-color: #007bff;
  color: white;
}

@media screen and (max-width: 700px) {
  .main-container {
    width: 96vw;
  }
} 