.container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.counter-display {
    width: 100px;
    height: 40px;
    background-color: #FFC107;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
}
.increment-count button{
    background-color: #6c757d;
    color: #6c757d;
  
}
.decrement-count button{
    background-color: #5cbecd;
    color: #5cbecd;
}
.delete-count button {
    background-color: #DC3545;
}
.delete-count img {
    width: 15px;
}
.circle {
    background-color: white;
    width:  16px;
    height: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
