*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
  border-radius: 5px;
  height: 40px;
  width: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
